* {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: 600;
}

a {
	text-decoration: none;
}

.clearfix {
	content: "";
  	display: table;
  	clear: both;
}

.fl-left { float: left; }
.fl-right { float: right; }

/* Variables */

:root {
	--darkblue: #1643ad;
	--blue: #275ddb;
}


/* Generic */

.container {
	margin: 0 auto;
	width: 1000px;
}


/* Header */

header {
	padding: 80px 0;
	width: 100%;
	background-color: var(--darkblue);
	color: #FFF;
	text-align: center;
}

header h1#name {
	margin-bottom: 8px;
	font-size: 2.6em;
}

header h2#bio {
	margin-bottom: 36px;
	font-size: 1.6em;
	font-weight: 400;
	font-style: italic;
}

header .social-btn {
	display: inline-block;
	margin: 0 5px;
	padding: 14px 28px 14px 64px;
	background: var(--blue) no-repeat 28px center/20px;
	font-size: 1.5em;
	font-weight: 600;
	color: #FFF;
	text-decoration: none;
	border-radius: 5px;
	transition: all .3s;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
}

header a.social-btn:nth-child(1) {
	background-image: url('../assets/icons/github.svg');
}

header a.social-btn:nth-child(2) {
	background-image: url('../assets/icons/behance.svg');
}

header a.social-btn:hover {
	transform: translateY(-3px);
	opacity: .8;
}


/* Works */

section#works {
	padding: 60px 0;
}

section#works .container {
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	justify-content: space-between;
}

.project {
	margin: 0 auto;
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	z-index: 1;
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
	align-items: center;
		-ms-align-items: center;
	justify-content: center;
	position: relative;
	padding: 30px;
	width: 250px;
	height: 250px;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	transition: all .3s;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
}

.project::before {
	z-index: -1;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 250px;
	height: 250px;
	background-color: rgba(40, 40, 40, 0.75);
	border-radius: 5px;
}

.project h1 {
	margin-bottom: 6px;
	font-size: 2.4em;
}

.project h2 {
	font-size: 1.6em;
	font-weight: 400;
	font-style: italic;
}

.project:hover {
	transform: translateY(-3px);
	opacity: .9;
}

.project:nth-child(1) {
	background: url('../assets/images/pancakehouse.png') no-repeat center/cover;
}


/* Footer */

footer {
	padding: 20px 0;
	width: 100%;
	background: #F5F5F5;
	font-weight: 500;
	font-size: 1.2em;
	color: #444;
}

footer a {
	color: var(--blue);
}

footer a:hover {
	text-decoration: underline;
}