<section id="about">
    <div class="container">
        <!-- Education -->
        <h2>Education</h2>
        <i class="bi-pc-display"></i>
        <p>
            I am taking an IT degree at DLSU-Manila, with relevant coursework and
            exposure in web application development, databases, requirements analysis &
            design, design thinking, and human-computer interaction.
        </p>

        <!-- Extracurricular -->
        <h2>Extra-curriculars</h2>
        <i class="bi-code-slash"></i>
        <p>
            Outside academics, I am a social media staffer and web designer/developer
            for The LaSallian-the official student publication of DLSU. I help create
            dynamic websites for featured events, article curations, or special
            publications.
        </p>
    </div>
</section>
