<section id="about">
    <div class="container">
        <!-- Education -->
        <div>
            <div class="description-wrapper">
                <i class="bi-pc-display"></i>
                <p>
                    Currently, I am taking an <strong>IT degree</strong> at DLSU-Manila, with relevant coursework in web application development, databases, requirements analysis &
                    design, design thinking, and human-computer interaction.
                </p>
            </div>
        </div>

        <!-- Extracurricular -->
        <div>
            <div class="description-wrapper">
                <i class="bi-code-slash"></i>
                <p>
                    Outside academics, I am a <strong>social media staffer</strong> and <strong>web designer/developer</strong>
                    for <a href="https://thelasallian.com/">The LaSallian</a>—the official DLSU student publication. I help create
                    dynamic websites for featured events, article curations, or special
                    publications.
                </p>
            </div>
        </div>
    </div>
</section>
