<footer>
    <div class="container">
        <div>
            <h3 id="footer-name"><a href="https://ronnparcia.github.io">ronnparcia.github.io</a></h3>
            <small>Copyright © {{ site.time | date: '%Y' }} Ronn Parcia</small>
        </div>

        <!-- Socials -->
        <div>
            {% for platform in site.data.socials %}
                <a href="{{ platform.url }}" target="_blank" class="social-icon">
                    <i class="{{ platform.icon }}"></i>
                </a>
            {% endfor %}
        </div>
    </div>
</footer>