<header id="hero">
    <div class="container">
        <div id="hero-content">
            <!-- Content -->
            <h1>Hi, I'm <strong>Ronn</strong> 👋</h1>
            <p>
                I am a junior undergraduate studying Information Technology at De La Salle
                University, with a great passion for <strong>user-centered design</strong> and
                <strong>web development</strong>.
            </p>

            <div id="hero-links">
                <!-- Buttons -->
                <a href="{{ site.data.hero.resume_btn.url }}" class="button">
                    <i class="{{ site.data.hero.resume_btn.icon }}"></i>
                    {{ site.data.hero.resume_btn.text }}
                </a>
                <a href="{{ site.data.hero.email_btn.url }}" class="button">
                    <i class="{{ site.data.hero.email_btn.icon }}"></i>
                    {{ site.data.hero.email_btn.text }}
                </a>

                <!-- Socials -->
                {% for platform in site.data.socials %}
                    <a href="{{ platform.url }}" target="_blank" class="social-icon">
                        <i class="{{ platform.icon }}"></i>
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Profile Picture -->
        <div id="hero-profile-pic-container">
            <img src="assets/images/profile_picture.png" alt="Profile Picture" id="hero-profile-pic">
        </div>
    </div>
</header>
