<header id="hero">
    <div class="container">
        <div id="hero-content">
            <!-- Content -->
            <h1>
                Hello! I'm <strong>Ronn</strong> — 4th-year IT student with a knack for 
                user-centered experiences and systems.
            </h1>
            <p>
                Currently a UX/UI intern at <a href="https://whitewidget.com/" target="_blank">White Widget</a>
                and IT student at <a href="https://www.dlsu.edu.ph/" target="_blank">De La Salle University</a>.
                I also craft website specials for <a href="https://thelasallian.com">The LaSallian</a>.
            </p>

            <div id="hero-links">
                {% for button in site.data.hero %}
                    <a href="{{ button.url }}" target="_blank" class="button">
                        <i class="{{ button.icon }}"></i>
                        {{ button.btn_name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Profile Picture -->
        <div id="hero-profile-pic-container">
            <img src="assets/images/profile_picture.png" alt="Profile Picture" id="hero-profile-pic">
        </div>
    </div>
</header>
