<header id="hero">
    <div class="container">
        <div id="hero-content">
            <!-- Content -->
            <h1>
                Hello! 👋 I'm <strong>Ronn</strong> — an IT graduate & budding UX/UI designer. I dabble 
                in web development, too!
            </h1>
            <p>
                Awaiting graduation as an IT student at <a href="https://www.dlsu.edu.ph/" target="_blank">De La Salle University</a>.
                Previously a UX/UI design intern at <a href="https://whitewidget.com/" target="_blank">White Widget</a> 
                and a systems development intern at <a href="https://www.abenson.com/" target="_blank">Abenson</a>.
                I also crafted microsites for <a href="https://thelasallian.com">The LaSallian</a>.
            </p>

            <div id="hero-links">
                {% for button in site.data.hero %}
                    <a href="{{ button.url }}" target="_blank" class="button">
                        <i class="{{ button.icon }}"></i>
                        {{ button.btn_name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Profile Picture -->
        <div id="hero-profile-pic-container">
            <img src="assets/images/profile_picture.png" alt="Profile Picture" id="hero-profile-pic">
        </div>
    </div>
</header>
