<section id="projects">
    <div class="container">
        <div class="grid">
            {% for project in site.data.projects %}
                <div class="card">
                    <!-- Image -->
                    <div class="card-image-wrapper" style="background-color: {{ project.background_color }}">
                        <img src="{{ project.image }}" alt="" />
                    </div>

                    <!-- Details -->
                    <div class="card-details">
                        <div>
                            <h3 class="card-project-title">{{ project.title }}</h3>
                            <small class="subtitle">{{ project.subtitle }}</small>
                        </div>
                        <p class="card-project-desc">{{ project.description }}</p>

                        <!-- Links -->
                        <ul class="card-links">
                            {% for link in project.links %}
                                <li>
                                    <i class="{{ link.icon }}"></i>
                                    <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                        <!-- Tech Stack -->
                        <ul class="card-technologies">
                            {% for technology in project.technologies %}
                                <li>{{ technology }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>