<section id="projects">
    <div class="container">
        <h2>Projects</h2>
        <div class="grid">
            {% for project in site.data.projects %}
                <div class="card">
                    <!-- Image -->
                    <div class="card-image-wrapper" style="background-color: {{ project.background_color }}">
                        <img src="{{ project.image }}" alt="" />
                    </div>

                    <!-- Details -->
                    <h3 class="card-project-title">{{ project.title }}</h3>
                    <small class="subtitle">{{ project.subtitle }}</small>
                    <p class="card-project-desc">{{ project.description }}</p>

                    <!-- Links -->
                    <ul>
                        {% for link in project.links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>

                    <!-- Tech Stack -->
                    <ul>
                        {% for technology in project.technologies %}
                            <li>{{ technology }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</section>