/* ==========================================================================
   Root and Resets
   ========================================================================== */

:root {
    --beige: #F9F8F2;
    --black: #1C1917;
    --gray: #737373;
    --light-gray: #F5F5F4;

    --border: 1.5px solid black;
    --radius: 0.375rem;
    --shadow: 0px 3px 0px 0px var(--black);
}

* {
    /* Resets */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Legibility */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Font */
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--black);
}

/* ==========================================================================
   Typography
   ========================================================================== */

/* Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabinet Grotesk', sans-serif;
}


h1 {
    font-size: 2.25em; /* The only H1 in the page is "Hi I'm Ronn!" */
}

h2, h3 {
    font-size: 1.5em;
}

h3 {
    font-weight: 800;
}

/* Paragraphs, etc.
   ========================================================================== */

p {
    font-size: 1em;
}

small {
    font-size: 0.75em;
}

small.subtitle {
    font-size: 0.875em;
    color: var(--gray);
}

/* ==========================================================================
   Body, Containers, and Sections
   ========================================================================== */

body {
    padding: 0 1.5rem;
    background-color: var(--beige);
}

.container {
    max-width: 1191px;
    margin: 0 auto;
}

}


/* ==========================================================================
   Hero
   ========================================================================== */

#hero h1 {
    font-weight: 300;
}

#hero p {
    margin: 1.875rem 0;
    font-size: 1.5em;
    font-weight: 300;
}

#hero strong {
    font-weight: 800;
}