:root {
    --beige: #F9F8F2;
    --black: #1C1917;
    --gray: #737373;
    --light-gray: #F5F5F4;
}

* {
    /* Resets */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Legibility */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Font */
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabinet Grotesk', sans-serif;
}

body {
    padding: 0 1.5rem;
}

.container {
    max-width: 1191px;
    margin: 0 auto;
}