* {
    /* Resets */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Legibility */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Font */
    font-family: 'Hanken Grotesk', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabinet Grotesk', sans-serif;
}